/*This is the new stylesheet */

/*This is a second line */

a {
    font-size: 0.5em;
    /*font-size: 10pt;*/
}


nav {
    background-color: orange;
    font-size: 20pt;
   /* position: fixed;*/
    left: 50px;
}

h1 {
    background-color: red;
    font-size: 5vw;
    display: inline;
    /*display: none;*/
   /* visibility: hidden;*/
   position: sticky;
   top: 50px;
}

p {
    background-color: yellow;
}

nav img {
    height: 50px;
    width: 50px;
}

.extra-large {
    height: 500px;
    width: 500px;
}

#about {
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: black;
}

#some-text {
    color: skyblue;
    background-color: brown;
    display: inline;
    position: sticky;
}

img {
    height: 225px;
    width: 225px;
}



